target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ / Eclipse / VS Code ###
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
.vscode/

### Env ###
.env
*.local

### Logs ###
*.log
